html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

header {
    background: url('./pictures/flames.gif') repeat;
    
    color: #ffffffe6;
    background-size: cover;
    text-align: center;
}

main {
    
    color: #ffffff;
    background-size: cover;
    text-align: left;
}



footer {
    background: rgb(159, 18, 18);
    color: #ffe816a8;
    background-size: cover;
    text-align: center;
}